led / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragerc

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# Environments
.env
.venv
**/*.venv/
._venv
**/*_venv/
env/
venv/
**./*venv/
_venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# profiling data
.prof

# Pyre type checker
.pyre/

# Jupyter Notebook files
*.ipynb

# Logs and debug files
*.log
*.out
*.err

# MacOS and Linux metadata files
.DS_Store
*.swp

# Exclude all node_modules directories
node_modules/
**/node_modules/
